<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Slack Service</title>

</head>
<body>
<script>

</script>

<div class="container">
  <h3>
  Automate your one on ones in slack
  <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,users:read,chat:write:user,im:read,team:read&client_id=143457452320.144253511221"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
</h3>
</div>

<div class="container">
  <table class = "table">
		<caption>Your teams</caption>
		<thead>
			<tr>
				<th>Team</th>

			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < data.length; i++) {
        if(data.length != 0){ %>
        <tr>
          <td> <%= data[i].team.name %>
          <div id="<%= data[i].team.id %>">
            <p>Hello </p>

          </div>
          </td>


        </tr>
        <% }} %>
		</tbody>
</table>
</div>
</body>
</html>
